:root {
  --my-black: #333333;
}

body {
  background-color: white;
}

h1 {
  color: var(--my-black);
}

.header {
  color: var(--my-black);
}

.button {
  border: 2px solid var(--my-black);
  color: var(--my-black);
  transition: border 300ms, color 300ms;
}

.button:hover {
  background-color: var(--my-black);
  color: white;
}
