body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333333;
}

canvas {
  margin: auto;
}

h1 {
  font-size: 380%;
  color: white;
}

.header {
  margin-top: 100px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center;
}

.header > p{
  font-size: 180%;
}

.grid_container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1em;
  margin-top: 100px;
}

.item_container {
  text-align: center;
  padding: 5px 5px;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.game_name {
  font-size: 200%;
  font-weight: bold;
}

.game_desc {
  padding-left: 5%;
  padding-right: 5%;
}

.whitebutton {
  border: 2px solid white;
  color: white;
  transition: color 300ms;
}

.whitebutton:hover {
  background-color: white;
  color:#333333;
}

.blackbutton {
  border: 2px solid #333333;
  color: #333333;
  transition: color 300ms;
}

.blackbutton:hover {
  background-color: #333333;
  color: white;
}
