body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

canvas {
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 380%;
  color: white;
  margin-top: 100px;
}

.grid_container {
  /* background-color: #999999; */
  color: #333333ee;
  width: 80%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1em;
  margin-top: 100px;
}

.item_container {
  background-color: white;
  text-align: center;
  padding: 5px 5px;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item_container:hover {
  background-color: #bbbbbb;
}

.game_name {
  font-size: 200%;
  font-weight: bold;
}

.game_desc {
  padding-left: 5%;
  padding-right: 5%;
}
