:root {
  --my-black: #333333;
}

body {
  background-color: var(--my-black);
}

h1 {
  color: white;
}

.header {
  color: white;
}

.button {
  border: 2px solid white;
  color: white;
  transition: color 300ms;
}

.button:hover {
  background-color: white;
  color: var(--my-black);
}
